@import "media-queries";

$enable-dev-colors: false ;
$container-big-col: 0.8;
$container-big-col-px: calc(#{$container-width} * #{$container-big-col});
$container-small-col-px: calc(#{$container-width} - #{$container-big-col-px});
$container-vert-col1-width: calc((100% - #{$container-width}) / 2);

@mixin vertical-lines($container-width, $disable-border: false) {
  $container-big-col: 0.8;
  $container-big-col-px: calc(#{$container-width} * #{$container-big-col});
  $container-small-col-px: calc(#{$container-width} - #{$container-big-col-px});
  $container-vert-col1-width: calc((100% - #{$container-width}) / 2);

  .col1 {
    width: $container-vert-col1-width;
    @if not $disable-border {
      border-right: $background-line-width solid $background-line-color;
    }
    @if $enable-dev-colors {
      background-color: rgba(0, 255, 255, 0.18);
    }
  }
  .col2 {
    width: $container-big-col-px;
    @if not $disable-border {
      border-right: $background-line-width solid $background-line-color;
    }
    @if $enable-dev-colors {
      background-color: rgba(144, 219, 90, 0.18);
    }
  }
  .col3 {
    width: $container-small-col-px;
    @if not $disable-border {
      border-right: $background-line-width solid $background-line-color;
    }
    @if $enable-dev-colors {
      background-color: rgba(200, 0, 255, 0.18);
    }
  }
  .col4 {
    width: $container-vert-col1-width;

    @if $enable-dev-colors {
      background-color: rgba(247, 255, 0, 0.18);
    }
  }
}

@include before-media-xs {
  @include vertical-lines(300px, true);
}

@include from-media-xs {
  @include vertical-lines(100%, true);
}

@include from-media-sm {
  @include vertical-lines(540px)
}

@include from-media-md {
  @include vertical-lines(720px)
}

@include from-media-lg {
  @include vertical-lines(960px)
}

@include from-media-xl {
  @include vertical-lines(1140px)
}