@import "variables";
@import "media-queries";

html {
  scroll-behavior: smooth;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow-x: hidden;
}

body {
  width: 100%;
  position: relative;
  ///* Hide scrollbar for Chrome, Safari and Opera */
  //&::-webkit-scrollbar {
  //  display: none;
  //}
  //
  ///* Hide scrollbar for IE, Edge and Firefox */
  //-ms-overflow-style: none;  /* IE and Edge */
  //scrollbar-width: none;
}

.white-text {
  color: $text-color;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@mixin background-line($top: 0, $horizontal: false) {
  z-index: 200;
  position: relative;
  top: $top;
  @if $horizontal {
    border-top: $background-line-width solid $background-line-color;
  } @else {
    border-right: $background-line-width solid $background-line-color;
  }
}
